{% extends "base_tresc.html" %}
{% load i18n %}
{% block content %}
<form method="post" action="">
<table class='table_user' cellspacing='0' cellpadding='0'>
<th colspan=3 class='user1'>{% trans "Send a Private Message" %}</th><tr><td><br></td></tr>

<tr>
    <td id='mini'><b>{% trans "Subject" %}</b></td>
	<td>{{ form.subject }}{% if form.subject.errors %}<br />*** {{ form.subject.errors|join:", " }}{% endif %}</td>
</tr>
<tr>
    <td id='mini'><b>{% trans "Text" %}</b></td>
	<td>{{ form.contents }}{% if form.contents.errors %}<br />*** {{ form.contents.errors|join:", " }}{% endif %}</td>

</tr>
<tr><td><input type="submit" value="{% trans 'Send Message' %}" id="addcomm"></td></tr>
</table>
</form>
{% endblock %}