{% extends "base_tresc.html" %}
{% block tytul %}Raporty {% endblock %}
{% block content %}




<fieldset>
<div class='wykresy'>Szkola</div>
<ul id='wykresy'>
<li><a href='{{klasa}}/szkola/on/'>ogólne zestawienie liczby nieobecności </a></li>
<li><a href='{{klasa}}/szkola/sn/'>szczegółowe porównanie frekwencji </a></li>
</ul>
</fieldset>
<br>
<fieldset>
<div class='wykresy'>Klasa</div>
<ul id='wykresy'>
<li><a href='{{klasa}}/klasa/ok/'>zestawienie ocen w klasie</a></li>
<li><a href='{{klasa}}/klasa/np/'>zestawienie nieobecności wg przedmiotów</a></li>
<li><a href=''>zestawienie ocen wg uczniów</a></li>
</ul>

</fieldset>








{% endblock %}